# Environments
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Datasets & large files
*.zip
*.tar.gz
archive/
dataset/
Blood Cells/
bloodcells_dataset/

# OS files
.DS_Store
Thumbs.db
